#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake

# I turn off the monotonic clock: if sensors are connected to different
# computers, this would produce non-comparable timestamps
override_dh_auto_configure:
	dh_auto_configure -- \
		-DMULTISENSE_BUILD_UTILITIES=ON \
		-DBUILD_SHARED_LIBS=ON \
		-DMULTISENSE_USE_MONOTONIC_CLOCK=OFF

override_dh_auto_build:
	$(if $(filter nodoc,$(DEB_BUILD_OPTIONS)),,doxygen docs/Doxyfile)
	dh_auto_build
